<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
</body>
</html>

<html>

<head>
  <title>OLX Best Cars</title>
</head>

<body>

  <button onclick="history.back()">
    Voltar
  </button>

  {{#each cars}}
  <div class="car-container">
    <h2>{{name}}</h2>
    <p>{{address}}</p>
    <p>{{year}}</p>
    <p>{{km}}</p>
    <p>{{price}}</p>
    <img src={{picture_url}} />
    <a href={{car.url}}>Clique aqui para visualizar</a>
  </div>
  {{/each}}
</body>

</html>